.cards-drop-preview {
  background-color: rgba(56, 27, 97, 0.1);
  margin: 5px 10px;
}

.cards-ghost {
  transition: transform 0.18s ease;
  transform: rotateZ(5deg);
}
.cards-ghost-drop {
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg);
}
.card-drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  margin: 5px;
}
.card-ghost {
  transition: transform 0.18s ease;
  transform: rotateZ(5deg);
}

.card-ghost-drop {
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg);
}
